.banner{
  position: relative;
}
.banner__titulo{
  font-family: Pacifico, cursive;
  color:#fdfdfd;
  position: absolute;
  left:50%;
  font-size: 5rem;
  text-shadow:0 4px 4px rgba(0,0,0,0.75) ;
  top:50%;
  text-align: center;
  transform: translate(-50%,-50%);
  width: 100%;
}
.banner__imagem{
  height: calc(100vh - 72px);
  width: 100%;

}